# Tesis Parte V
 
# Solo normalización del Conjunto de datos

In [1]:
#importamos librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
#plt.rcParams['figure.figsize'] = (16, 9)
plt.rcParams['figure.figsize'] = (20, 20)
plt.style.use('ggplot')
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [2]:
#cargamos los datos de entrada
#data = pd.read_csv("cleaned_dataset_tesis_no_cluster.csv")
#dataframe = pd.read_csv(r"cleaned_dataset_tesis_no_cluster.csv")
#dataframe = pd.read_csv(r"limpieza-3-dataset.csv")
dataframe = pd.read_csv(r"dos-medicamentos-csv.csv")
print(dataframe.tail(10))

      gender  age  admission_type_id  discharge_disposition_id  \
5167       0   55                  1                         1
5168       1   75                  1                         6
5169       1   55                  3                         1
5170       1   55                  1                         1
5171       0   75                  1                         3
5172       0   55                  2                         1
5173       0   75                  2                         6
5174       0   85                  1                        13
5175       1   45                  1                         4
5176       1   75                  1                         1

      admission_source_id  time_in_hospital  num_lab_procedures  \
5167                    7                 4                  41
5168                    7                 2                  52
5169                    1                 6                  12
5170                    7                 4                  29
5171                    7                 4                  37
5172                    7                 5                  71
5173                    2                 4                  43
5174                    7                 3                  45
5175                    7                14                  69
5176                    7                 9                  50

      num_procedures  num_medications  number_outpatient  ...  Genitourinary  \
5167               3               40                  0  ...              0
5168               0               13                  0  ...              0
5169               3               14                  0  ...              0
5170               0               13                  0  ...              0
5171               0                7                  0  ...              0
5172               5               23                  0  ...              1
5173               0               10                  0  ...              0
5174               0               26                  1  ...              0
5175               0               16                  0  ...              0
5176               2               33                  0  ...              0

      Injury  Musculoskeletal  Neoplasms  Other_1  Respiratory  InsulinDown  \
5167       0                0          0        0            0            0
5168       0                0          0        0            0            0
5169       0                0          0        0            1            0
5170       0                0          0        0            0            0
5171       0                0          0        0            0            0
5172       0                0          0        0            0            1
5173       0                0          0        0            0            0
5174       0                0          0        0            1            1
5175       0                0          0        1            0            1
5176       0                0          0        0            0            0

      InsulinNo  InsulinSteady  InsulinUp
5167          0              0          1
5168          0              1          0
5169          0              1          0
5170          0              1          0
5171          1              0          0
5172          0              0          0
5173          0              1          0
5174          0              0          0
5175          0              0          0
5176          0              1          0

[10 rows x 46 columns]

In [3]:
dataframe.count()

gender                      5177
age                         5177
admission_type_id           5177
discharge_disposition_id    5177
admission_source_id         5177
time_in_hospital            5177
num_lab_procedures          5177
num_procedures              5177
num_medications             5177
number_outpatient           5177
number_emergency            5177
number_inpatient            5177
number_diagnoses            5177
max_glu_serum               5177
A1Cresult                   5177
metformin                   5177
repaglinide                 5177
nateglinide                 5177
glimepiride                 5177
glipizide                   5177
glyburide                   5177
pioglitazone                5177
rosiglitazone               5177
glyburide-metformin         5177
change                      5177
diabetesMed                 5177
readmitted                  5177
Visits                      5177
AfricanAmerican             5177
Asian                       5177
Caucasian                   5177
Hispanic                    5177
Other                       5177
Circulatory                 5177
Diabetes                    5177
Digestive                   5177
Genitourinary               5177
Injury                      5177
Musculoskeletal             5177
Neoplasms                   5177
Other_1                     5177
Respiratory                 5177
InsulinDown                 5177
InsulinNo                   5177
InsulinSteady               5177
InsulinUp                   5177
dtype: int64

# División aleatoria con train_test_split()

In [4]:

from sklearn.model_selection import train_test_split

Establecer la semilla aleatoria dentro de la misma función con el parámetro random_state de la siguiente forma:

In [5]:
'''
train, test = train_test_split(dataframe, test_size = 0.30, random_state = 100)
#train, test = train_test_split(DBSCAN_data, test_size = 0.30, random_state = 100)

print("Ejemplos usados para entrenar: ", len(train))
print("Ejemplos usados para test: ", len(test))

'''

'\ntrain, test = train_test_split(dataframe, test_size = 0.30, random_state = 100)\n#train, test = train_test_split(DBSCAN_data, test_size = 0.30, random_state = 100)\n\nprint("Ejemplos usados para entrenar: ", len(train))\nprint("Ejemplos usados para test: ", len(test))\n\n'

# Grabamos el dataframe dividido Sin Normalizar

In [6]:
#dataframe_norm.to_csv('Normalización_split.csv')

'''
train.to_csv('3-train_classic_split.csv')
test.to_csv('3-test_classic_split.csv')
'''
train = dataframe

# Vemos las caracteristicas del objeto

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5177 entries, 0 to 5176
Data columns (total 46 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    5177 non-null   int64
 1   age                       5177 non-null   int64
 2   admission_type_id         5177 non-null   int64
 3   discharge_disposition_id  5177 non-null   int64
 4   admission_source_id       5177 non-null   int64
 5   time_in_hospital          5177 non-null   int64
 6   num_lab_procedures        5177 non-null   int64
 7   num_procedures            5177 non-null   int64
 8   num_medications           5177 non-null   int64
 9   number_outpatient         5177 non-null   int64
 10  number_emergency          5177 non-null   int64
 11  number_inpatient          5177 non-null   int64
 12  number_diagnoses          5177 non-null   int64
 13  max_glu_serum             5177 non-null   int64
 14  A1Cresult                 5177 non-null   int64
 15  metformin                 5177 non-null   int64
 16  repaglinide               5177 non-null   int64
 17  nateglinide               5177 non-null   int64
 18  glimepiride               5177 non-null   int64
 19  glipizide                 5177 non-null   int64
 20  glyburide                 5177 non-null   int64
 21  pioglitazone              5177 non-null   int64
 22  rosiglitazone             5177 non-null   int64
 23  glyburide-metformin       5177 non-null   int64
 24  change                    5177 non-null   int64
 25  diabetesMed               5177 non-null   int64
 26  readmitted                5177 non-null   int64
 27  Visits                    5177 non-null   int64
 28  AfricanAmerican           5177 non-null   int64
 29  Asian                     5177 non-null   int64
 30  Caucasian                 5177 non-null   int64
 31  Hispanic                  5177 non-null   int64
 32  Other                     5177 non-null   int64
 33  Circulatory               5177 non-null   int64
 34  Diabetes                  5177 non-null   int64
 35  Digestive                 5177 non-null   int64
 36  Genitourinary             5177 non-null   int64
 37  Injury                    5177 non-null   int64
 38  Musculoskeletal           5177 non-null   int64
 39  Neoplasms                 5177 non-null   int64
 40  Other_1                   5177 non-null   int64
 41  Respiratory               5177 non-null   int64
 42  InsulinDown               5177 non-null   int64
 43  InsulinNo                 5177 non-null   int64
 44  InsulinSteady             5177 non-null   int64
 45  InsulinUp                 5177 non-null   int64
dtypes: int64(46)
memory usage: 1.8 MB

In [8]:
train.head()

,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,Genitourinary,Injury,Musculoskeletal,Neoplasms,Other_1,Respiratory,InsulinDown,InsulinNo,InsulinSteady,InsulinUp
0,0,65,2,1,4,7,62,0,11,0,...,0,0,0,1,0,0,0,0,1,0
1,1,45,1,3,7,7,60,0,15,0,...,0,0,0,0,0,0,1,0,0,0
2,1,65,1,1,7,6,87,0,18,0,...,1,0,0,0,0,0,0,0,1,0
3,0,75,3,3,4,9,2,0,12,0,...,0,0,0,0,1,0,0,0,1,0
4,0,75,6,1,1,6,55,1,13,0,...,0,0,0,0,0,0,0,1,0,0

In [9]:
train_variables = train

In [10]:
train_variables.describe()

,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,Genitourinary,Injury,Musculoskeletal,Neoplasms,Other_1,Respiratory,InsulinDown,InsulinNo,InsulinSteady,InsulinUp
count,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,...,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000
mean,0.522890,67.447363,2.070697,4.299401,5.936450,5.800464,48.234885,1.372416,18.791964,0.336295,...,0.039791,0.065868,0.060267,0.034962,0.196446,0.156268,0.107978,0.447556,0.332046,0.112420
std,0.499524,14.446859,1.457415,5.662724,4.259095,3.269599,18.736904,1.753335,9.336002,1.125226,...,0.195488,0.248076,0.238003,0.183702,0.397348,0.363144,0.310382,0.497290,0.470993,0.315913
min,0.000000,15.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,55.000000,1.000000,1.000000,1.000000,3.000000,38.000000,0.000000,12.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,65.000000,1.000000,1.000000,7.000000,5.000000,49.000000,1.000000,17.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,75.000000,3.000000,6.000000,7.000000,8.000000,61.000000,2.000000,23.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,1.000000,95.000000,8.000000,28.000000,22.000000,14.000000,113.000000,6.000000,74.000000,17.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:

#test_variables = test

In [12]:
#test_variables.describe()

# Normalizamos los valores de las características

Restarle a cada celda el valor mínimo

In [13]:
train_norm= (train_variables-train_variables.min())/(train_variables.max()-train_variables.min())
train_norm

,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,Genitourinary,Injury,Musculoskeletal,Neoplasms,Other_1,Respiratory,InsulinDown,InsulinNo,InsulinSteady,InsulinUp
0,0.0,0.625,0.142857,0.000000,0.142857,0.461538,0.544643,0.000000,0.136986,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.375,0.000000,0.074074,0.285714,0.461538,0.526786,0.000000,0.191781,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.625,0.000000,0.000000,0.285714,0.384615,0.767857,0.000000,0.232877,0.000000,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.750,0.285714,0.074074,0.142857,0.615385,0.008929,0.000000,0.150685,0.000000,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.750,0.714286,0.000000,0.000000,0.384615,0.482143,0.166667,0.164384,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5172,0.0,0.500,0.142857,0.000000,0.285714,0.307692,0.625000,0.833333,0.301370,0.000000,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5173,0.0,0.750,0.142857,0.185185,0.047619,0.230769,0.375000,0.000000,0.123288,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5174,0.0,0.875,0.000000,0.444444,0.285714,0.153846,0.392857,0.000000,0.342466,0.058824,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
5175,1.0,0.375,0.000000,0.111111,0.285714,1.000000,0.607143,0.000000,0.205479,0.000000,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
5176,1.0,0.750,0.000000,0.000000,0.285714,0.615385,0.437500,0.333333,0.438356,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
'''
test_norm= (test_variables-test_variables.min())/(test_variables.max()-test_variables.min())
test_norm
'''

'\ntest_norm= (test_variables-test_variables.min())/(test_variables.max()-test_variables.min())\ntest_norm\n'

# Ver los valores de los datos "Diabetes" ya normalizados

In [15]:
train_norm.describe()

,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,Genitourinary,Injury,Musculoskeletal,Neoplasms,Other_1,Respiratory,InsulinDown,InsulinNo,InsulinSteady,InsulinUp
count,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,...,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000,5177.000000
mean,0.522890,0.655592,0.152957,0.122200,0.235069,0.369266,0.421740,0.228736,0.243726,0.019782,...,0.039791,0.065868,0.060267,0.034962,0.196446,0.156268,0.107978,0.447556,0.332046,0.112420
std,0.499524,0.180586,0.208202,0.209731,0.202814,0.251508,0.167294,0.292223,0.127890,0.066190,...,0.195488,0.248076,0.238003,0.183702,0.397348,0.363144,0.310382,0.497290,0.470993,0.315913
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.500000,0.000000,0.000000,0.000000,0.153846,0.330357,0.000000,0.150685,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.625000,0.000000,0.000000,0.285714,0.307692,0.428571,0.166667,0.219178,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.750000,0.285714,0.185185,0.285714,0.538462,0.535714,0.333333,0.301370,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [16]:
train_norm.count()

gender                      5177
age                         5177
admission_type_id           5177
discharge_disposition_id    5177
admission_source_id         5177
time_in_hospital            5177
num_lab_procedures          5177
num_procedures              5177
num_medications             5177
number_outpatient           5177
number_emergency            5177
number_inpatient            5177
number_diagnoses            5177
max_glu_serum               5177
A1Cresult                   5177
metformin                   5177
repaglinide                 5177
nateglinide                 5177
glimepiride                 5177
glipizide                   5177
glyburide                   5177
pioglitazone                5177
rosiglitazone               5177
glyburide-metformin         5177
change                         0
diabetesMed                    0
readmitted                  5177
Visits                      5177
AfricanAmerican             5177
Asian                       5177
Caucasian                   5177
Hispanic                    5177
Other                       5177
Circulatory                 5177
Diabetes                    5177
Digestive                   5177
Genitourinary               5177
Injury                      5177
Musculoskeletal             5177
Neoplasms                   5177
Other_1                     5177
Respiratory                 5177
InsulinDown                 5177
InsulinNo                   5177
InsulinSteady               5177
InsulinUp                   5177
dtype: int64

# División aleatoria con train_test_split()

In [17]:
#from sklearn.model_selection import train_test_split

Establecer la semilla aleatoria dentro de la misma función con el parámetro random_state de la siguiente forma:

In [18]:
#train, test = train_test_split(dataframe_norm, test_size = 0.30, random_state = 100)
###train, test = train_test_split(DBSCAN_data, test_size = 0.30, random_state = 100)

#print("Ejemplos usados para entrenar: ", len(train))
#print("Ejemplos usados para test: ", len(test))

# Grabamos el dataframe dividido normalizado

In [19]:
#dataframe_norm.to_csv('Normalización_split.csv')

#train_norm.to_csv('3-train_norm_split.csv')
train_norm.to_csv('2-medicamentos-norm.csv')
#test_norm.to_csv('3-test_norm_split.csv')